/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: HelveticaLight;
  src: url(fonts/HelveticaLTStd-Light.otf);
}

body, html, section {
  font-family: HelveticaLight, Arial;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}

.container {
  height: 100%;
}

.main {
  height: 100%;
}

/*= Screen from 1400px
=====================================================================================*/
@media only screen and (min-width: 1400px) {
  #home .photo {
    padding-top: 50px;
  }
  #home .photo .navigation img {
    width: 100%;
  }
}
/*= Default screen
=====================================================================================*/
/* HOME
******************************************/
#home {
  background: url("img/bg.jpg") 0 fixed repeat;
  background-size: cover;
}
#home .info {
  font-size: 1.25em;
  margin-bottom: 15px;
  text-align: right;
}
#home .info p {
  margin-right: 120px;
}
#home .info p span {
  color: #cd0f19;
}
#home .info hr {
  background: url("img/line.png") 0 0 no-repeat;
  background-size: 100%;
  border: 0;
  height: 2px;
  margin: 0;
  margin-bottom: 5px;
}
#home .photo {
  /*background:url('img/anx3.png') center center no-repeat;*/
  background-size: 75%;
  bottom: 0;
  height: 100%;
  padding-top: 20px;
  position: relative;
  text-align: center;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}
#home .photo .navigation {
  height: 476px;
  width: 100%;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50%;
  margin-top: -238px;
}
#home .photo .navigation img {
  width: 85%;
}
#home .photo .navigation #circle-guy, #home .photo .navigation #circle-stuff, #home .photo .navigation #circle-cat {
  position: absolute;
}
#home .photo .navigation #circle-guy:hover, #home .photo .navigation #circle-stuff:hover, #home .photo .navigation #circle-cat:hover {
  cursor: pointer;
}
#home .photo .navigation #circle-guy {
  left: 307px;
  width: 156px;
  height: 329px;
  top: 40px;
  z-index: 10;
}
#home .photo .navigation #circle-guy:hover, #home .photo .navigation #circle-guy.hover {
  background: url("img/guy.png") 0 0 no-repeat;
  background-size: 147px;
}
#home .photo .navigation #circle-stuff {
  height: 150px;
  left: 347px;
  top: 193px;
  width: 205px;
  z-index: 100;
}
#home .photo .navigation #circle-stuff:hover, #home .photo .navigation #circle-stuff.hover {
  background: url("img/stuff.png") 0 0 no-repeat;
  background-size: 156px;
}
#home .photo .navigation #circle-cat {
  height: 221px;
  left: 535px;
  top: 185px;
  width: 144px;
  z-index: 100;
}
#home .photo .navigation #circle-cat:hover, #home .photo .navigation #circle-cat.hover {
  background: url("img/cat.png") 0 0 no-repeat;
  background-size: 131px;
}
#home .photo nav {
  bottom: 0;
  width: 100%;
  z-index: 1;
}
#home .photo nav li {
  display: inline-block;
  text-align: center;
}
#home .photo nav li > div {
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4375em;
  text-decoration: none;
  text-align: center;
}
#home .photo nav li > div p:nth-child(2) {
  font-size: 0.6em;
  margin-top: 5px;
}
#home .photo nav li:first-child {
  text-align: right;
}
#home .photo nav li:first-child a {
  text-align: center;
}

/* WORK
******************************************/
#work {
  background: url("img/work-bg.jpg") 0 center repeat-x;
  padding-top: 55px;
  position: relative;
}
#work .section-title {
  font-size: 1.875em;
  margin-bottom: 3px;
  padding-left: 120px;
}
#work hr {
  background: url("img/line.png") 0 0 no-repeat;
  background-size: 100%;
  border: 0;
  height: 2px;
  margin: 0;
  margin-bottom: 50px;
}
#work .creation-block {
  height: 414px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50%;
  margin-top: -207px;
}
#work .creations {
  display: inline-block;
  float: left;
  width: 616px;
}
#work .creations .pf-row {
  height: 198px;
  margin-bottom: 18px;
}
#work .creations .pf-row .creation:first-child {
  margin-right: 18px;
}
#work .creations .creation {
  border: 1px solid #000;
  float: left;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}
#work .creations .pf-row:first-child {
  clear: both;
}
#work .creations .pf-row:first-child .creation:first-child {
  background: url("img/pf1.png") 0 0 no-repeat;
  height: 198px;
  width: 299px;
}
#work .creations .pf-row:first-child .creation:last-child {
  background: url("img/pf2.png") 0 0 no-repeat;
  height: 198px;
  width: 299px;
}
#work .creations .pf-row:nth-child(2) .creation:first-child {
  background: url("img/pf3.png") 0 0 no-repeat;
  height: 198px;
  width: 299px;
}
#work .creations .pf-row:nth-child(2) .creation:last-child {
  background: url("img/pf4.png") 0 0 no-repeat;
  height: 198px;
  width: 299px;
}
#work img {
  float: left;
  margin-top: 40px;
  width: 335px;
}

@media only screen and (min-width: 0px) and (max-width: 959px) {
  #home nav {
    height: 460px;
  }

  #home nav li {
    margin-top: 120px;
  }

  #home nav li:first-child {
    background-position-x: 166px;
  }

  #home nav li:nth-child(2) {
    background-position-x: 135px;
    background-position-y: 50px;
  }

  #home .photo #circle-guy {
    height: 310px;
    left: 237px;
  }

  #home .photo #circle-stuff {
    left: 275px;
    top: 150px;
    height: 127px;
    width: 130px;
  }

  #home .photo #circle-stuff:hover, #home .photo #circle-stuff.hover {
    background-size: 122px;
  }

  #home .photo #circle-cat {
    left: 420px;
    top: 158px;
    height: 180px;
    width: 117px;
  }

  #home .photo #circle-cat:hover, #home .photo #circle-cat.hover {
    background-size: 108px;
  }
}
