@font-face {font-family: futura; 
			src: url('./FuturaLight.ttf');}

body {
	
	width: 100%;
	margin: 0 auto;
}
header{
	background-image : url("./img/bg.png");
}
#wrapper{
	background-image : url("./img/bg.png");
	width: 980px;
	margin:0 auto;
	padding-bottom: 15px;
}


#anxdesign {
	background-image : url("./img/test_anxdesign.png");
	background-repeat : no-repeat;
	background-position : bottom; 
	width : 455px;
	height : 276px;
	padding-top: 20px;
	padding-left: 50px;
}


#separation_content {
	background-image : url("./img/barre_sep.png");
	width: 100%;
	height: 6px;
	
}



#logo {
	float: right;
	background : url("./img/logo.png") no-repeat;
	width: 210px;
	height: 389px;
	margin-top: 117px;
	margin-right: 204px;
}

#content{

	width: 100%;
	height: 250px;
}
nav{
	text-align: center;
		background: #fff;
}
nav ul li{
	font-family: futura;
	font-size: 2em;
	display:inline;
	}

nav ul li:nth-child(1):after,nav ul li:nth-child(2):after{
	content:" - ";
}
a{
	text-decoration:none;
	color:#000;
}

.hover{
	color:#c5c5c5;
}

.selected{
	text-decoration:underline;
}